@import "tailwindcss";
#btn{
position: relative;

z-index: 1;
overflow: hidden;
}
#btn::before{
    content: "";
position: absolute;
inset: 0;
background-color: yellow;
transition-property: width;

transition-timing-function: ease;
transition-duration: 2s;
width: 0;
height: 100%;
z-index: -1;

}

#btn:hover::before{
    width: 100%;
     color: #243b55;

}
.comp1{
    width: 100%;
    height: 90vh;
      background: radial-gradient(circle, #141e30, #243b55);
   
}
.back {
  width: 100%;
  height: 90vh;
  background: linear-gradient(to right, #141e30, #243b55);
}

body{
 background-color: #030712;

}
#arrow1{
  position: absolute;
  right: 0;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes arrow {
  0%{
transform: translateX(-10);
  }
  100%{
transform: translateX(5);
  }
}
#arrow2{
  position: absolute;
  left: 0;
  animation-name: arrows;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes arrows {
  0%{
transform: translateX(-10);
  }
  100%{
transform: translateX(5);
  }
}




#about{

  animation-name: abouts;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}
@keyframes abouts {
  0%{
transform: translatey(-100);
  }
  100%{
transform: translatey(10);
  }
}
#card{
  animation-name: cards;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
}
@keyframes cards {
  0%{
transform: translatey(-50);
  }
  100%{
transform: translatey(10);
  }
}

#moving {
  animation: movings 3s linear infinite normal;

}

@keyframes movings {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
#ab {
  position: absolute;
  animation-name: ab;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes ab {
  0% {
    top: 0;
  }
  100% {
   top:100px
  }
}